/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* цвет фона секции "Наша команда" #F5F4FA */
/* цвет фона скции футер #2F303A */

/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
  --filter-button-text-color: #212121;
  --filter-button-bg-color: #f5f4fa;

  --primary-text-color: #757575;
  --title-text-clolr: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;

  --primary-text-style: 'Roboto', sans-serif;
}

.outer {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: var(--primary-text-style);
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: #000000;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  padding: 0 15px;

  outline: 2px solid blueviolet;
}

/* header */

.header-section {
  background-color: #ffffff;
  /* border-bottom: 1px solid #ececec; */
}
.container-header-flex {
  display: flex;
  align-items: center;
}
/* .container-header-flex > ul {
  margin-left: 331px;
} */

.list.mail.tel {
  margin-left: auto;
}

/* nav */

.nav {
  display: flex;
  align-items: center;
}

/* .nav > a {
  margin-right: 93px;
} */

/* .list.nav {
  align-items: stretch;
} */
.list.nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list.nav li:not(:last-child) {
  margin-right: 50px;
}

.list.mail.tel {
  display: flex;
}

.list.mail.tel .item + .item {
  margin-left: 50px;
  display: block;
}
.list.mail.tel a {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

/* .list.mail.tel li {
  margin-bottom: 32px;
  margin-top: 32px;
  margin-left: 50px;
} */

.link.current {
  color: var(--accent-color);
}
.mail-item::before {
  display: inline-flex;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  content: '';
  background-size: contain;
  background-position: center;
  background-image: url(../image/envelope-hover.svg);
}

.tel-item::before {
  display: inline-flex;

  margin-right: 10px;
  width: 10px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
  background-size: contain;
  background-position: center;
  background-image: url(../image/smartphone.svg);
}
/* logo  */

.logo-link {
  /* margin-top: 24px;
  margin-bottom: 25px; */
  margin-right: 93px;
  display: flex;
  color: #000000;
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
/* border */

/* .border {
  border: 1px solid #ececec;
} */

/* hero */

.section-hero {
  /* margin-bottom: 94px; */
  border-top: 1px solid #ececec;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/hero-Img-1.jpg');
  /* background-image:linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url('../image/plaine-1.jpg'); */

  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-size: contain; */
  /* background-position: 50% 50%; */
  background-position: center;
  /* background-position: top; */
  /* background-position: 50px 0; */
  /* background-position: 0 20px ; */
  /* outline: 1px solid coral; */
  /* outline: 2px solid blueviolet; */
  /*  */
}
.container.hero {
  width: 696px;
  padding: 0;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button hero */

.hero-button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 10px 32px;
  border-radius: 4px;

  color: #ffffff;
  background-color: var(--accent-color);
  border-color: transparent;
  /* font-family: inherit; */
  /* font-family: Roboto, sans-serif; */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  /* display: flex;
  align-items: center; */
  /* text-align: center; */
  letter-spacing: 0.06em;
}

/* Features */
.features {
  /* background: #e5e5e5; */
  margin-bottom: 94px;

  /* outline: 1px solid coral; */
}

.feature-list h3 {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-clolr);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.feature-list p {
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-bottom: 94px; */

  font-size: 14px;
  line-height: 1.71;
}
.feature-list {
  display: flex;
}
.feature-list li {
  width: 270px;
}
.feature-list li:not(:last-child) {
  margin-right: 30px;
}

.feature-item::before {
  content: '';
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.feature-item:nth-child(1)::before {
  background-image: url(../image/antenna-1.svg);
}

.feature-item:nth-child(2)::before {
  background-image: url(../image/clock-1.svg);
}
.ikon-diagram::before {
  background-image: url(../image/diagram-1.svg);
}
.ikon-astronaut::before {
  background-image: url(../image/astronaut-1.svg);
}

/* workpage  */
.workpage {
  /* background: #e5e5e5; */
  margin-top: 0;
  margin-bottom: 94px;
  /* outline: 1px solid coral; */
}
.workpage img {
  display: block;
}

.workpage-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-clolr);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.workpage-flex {
  display: flex;
}

.workpage-flex .item + .item {
  margin-left: 30px;
}

/* team */

/* .team.container {
} */

.team.section {
  background-color: #f5f4fa;
  padding: 94px 0px;
  /* outline: 1px solid coral; */
}
.team.section img {
  display: block;
}

.team.section p {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
  text-align: center;
}

.team-section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-clolr);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  margin: 0;
  color: var(--title-text-clolr);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team-flex {
  display: flex;
}
.team-flex li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-flex li:not(:last-child) {
  margin-right: 30px;
}
.team-flex img {
  margin-bottom: 30px;
}
.team-flex h3 {
  margin-bottom: 10px;
}
/* portfolio */
/* projects */
/* button filter */

.button-filter {
  min-width: 73px;
  border: 0;
  border-radius: 4px;
  color: var(--filter-button-text-color);
  background-color: var(--filter-button-bg-color);
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  display: inline-block;

  text-align: center;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter-flex {
  display: flex;
  justify-content: center;
}

.button-filter-flex li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button-filter-section {
  /* background-color: #e5e5e5; */
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-projects-section {
  /* background-color: #e5e5e5; */
  padding-bottom: 94px;
  /* outline: 1px solid coral; */
}

.portfolio-projects-flex {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-projects-flex img {
  /* margin-bottom: 20px; */
  display: block;
}
/* Вариант 1 */

/* .portfolio-projects-flex-item {
  border: 1px solid #eeeeee;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

/* Вариант 2 */

.portfolio-projects-flex-item {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.portfolio-projects-flex-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-projects-flex-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-projects-flex-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-link {
  text-decoration: none;
  color: #000000;
}
.portfolio-description {
  padding: 20px 24px 20px 24px;
  display: block;
}

.projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  /* margin-left: 24px; */

  color: #212121;
}
.projects p {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 0px;
  /* margin-left: 24px; */
}

/* footer */

.footer-section {
  padding: 60px 0 0;
  background-color: #2f303a;
  display: block;
}

.footer-logo-link {
  display: inline-block;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  color: #ffffff;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* adress */
.adress-description {
  margin: 0;
  padding-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: #ffffff;
}
.adress-list-footer {
  display: block;
}
.adress-list-footer .mail {
  margin: 0;
  padding-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}
.adress-list-footer .tel {
  margin: 0;
  padding-bottom: 60px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}
